.DS_Store
/.vscode/
/.swiftpm/xcode/xcuserdata/
/.swiftpm/xcode/package.xcworkspace/xcuserdata/
/.build
/DerivedData
/generated-headers/*
!/generated-headers/.gitkeep
/PrivateHeaders/
__pycache__/
*.pyc
